.ant-image-preview-operations {
  .ant-image-preview-operations-operation {
    padding: 20px;
    .anticon {
      transform: scale(1.5);
    }
  }
}

thead[class*="ant-table-thead"] th{
  background-color: #001529 !important;
  color: white;
}